.hero {
  height: 900px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 110px 69px 0px 221px;
  position: relative;
}

.centered-icon-box {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #1DA5B9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.inner-dot {
  width: 10px;
  height: 10px;
  background-color: #1DA5B9;
  border-radius: 50%;
}


.hero-content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info-box {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 8px;
}

.info-text {
  font-size: 13px;
  line-height: 1.4;
  opacity: 0.9;
  text-align: start;
}

.info-icon {
  font-size: 35px;
  margin-left: 73px;
  transform: rotate(-45deg);
  margin-top: -5px;
}

.info-underline {
  width: 260px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 8px 0 24px;
}

.hero-title {
  font-family: "ABChanel PB SemiBold M", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.hero-title-with-badge {
  position: relative;
  display: inline-block;
}

.t-letter {
  position: relative;
  display: inline-block;
}

.pro-badge {
  position: absolute;
  top: -58px; 
  right: 195px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  z-index: 10;
}


.hero-side-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding-top: 110px;
}

.slider-name-box {
  margin-bottom: 50px;
}

.slider-name-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.slider-name {
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  white-space: nowrap;
  margin-top: 2px;
}

.slider-line-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* gap: 6px; */
  margin-top: 10px;
}

.line {
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.line.long {
  width: 45px;
  opacity: 1;
}

.line.short {
  width: 28px;
  opacity: 0.5;
  margin-top: 31px;
  align-items: end;
}

.hero-title-container {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  flex-wrap: wrap;
}

.hero-title-block {
  display: flex;
  flex-direction: column;
}

.hero-agency-inline {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  font-family: Houschka Pro;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
}

.hero-description-inline {
  font-family: "Houschka Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  max-width: 500px;
  color: #939393;
  text-align: start;
}

.hero-description-inline .highlight {
  color: #ffffff;
  font-family: Houschka Pro;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
}

.hero-stat {
  text-align: right;
  /* margin-top: 80px; */
  margin-top: 515px;
  text-align: start;
}

.hero-stat h2 {
  font-family: ABChanel PB SemiBold M;
  font-weight: 600;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin: 0px;
}

.hero-stat p {
  font-family: Houschka Pro;
  font-weight: 600;
  font-style: DemiBold;
  font-size: 20px;
  /* line-height: 140%; */
  letter-spacing: 0%;
  text-transform: capitalize;
  margin: 0px;
  margin-top: 20px;
}

.scroll-arrow {
  position: absolute;
  top: 655px;
  left: 221px;
  width: 143px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball{
  position: absolute;
  top: 325px;
  left: 300px;
  width: 143px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-section {
  background: white;
  padding: 5rem 10%;
}

.why-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.why-left {
  flex: 1;
  align-items: flex-start;
  text-align: start;
}

.why-subtitle {
  font-size: 0.8rem;
  color: #888;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
  /* text-align: start; */
}

.why-title {
  font-size: 2rem;
  font-weight: 800;
  color: #111;
  line-height: 1.5;
  /* text-align: start; */
}

.why-right {
  flex: 1;
  max-width: 400px;
  position: relative;
}

.indicator-dots {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.indicator-dots .dot {
  font-size: 1rem;
  color: #888;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.indicator-dots .dot.active {
  background: #000;
  color: white;
  border-color: #000;
}

.feature-card {
  background: #fff;
  box-shadow: 20px 20px 0 #f0f0f0;
  /* padding: 3rem; */
  border-radius: 8px;
  position: relative;
  z-index: 1;
  text-align: start;
}

.feature-card::after,
.feature-card::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  z-index: -1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03);
}


.feature-card::before {
  top: 24px;
  left: 24px;
}

.card-icon img {
  width: 40px;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: start;
}

.card-text {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1.2rem;
}

.card-view-link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  text-align: center !important;
  align-items: center;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.brand-logo {
  max-height: 35px;
  flex: 1 1 calc(20% - 3rem);
  max-width: calc(20% - 3rem);
  opacity: 0.6;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}

.brand-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}




